<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ekart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
</head>

<body>
    {{!-- <div id="yo">{{user_cart.total}}</div> --}}
    <div style="display: flex; justify-content:center; align-items:center; height:81vh;">
        <div class="ui card" style="width: 30rem;">

            <div class="content">
                <center>
                    <h2 class="header">STRIPE PAY</h2>
                    <p class="description">
                        <form action="/payment" method="post" id="payment-form">
                            <input type="hidden" name="stripeMoney" value="{{user_cart.total}}">
                            <div class="form-row">
                                <label class="ui sub header" for="card-element">
                                    Credit or Debit card
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>
                            <br>
                            <div class="extra content"><button style="background-color:#563d7c; color:white;"
                                    class="ui button" id="stripeBtn">Submit
                                    Payment</button></div>
                        </form>
                    </p>
                </center>
            </div>
        </div>

        <div id="spinner">

        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">


</body>

</html>